mixin endpointText(endpoint)
    span= endpoint.method.toUpperCase()
    | /api/v#{endpoint.version}
    != endpoint.endpoint.replace(/(\:[a-z]+)/, '<em>$1</em>')

mixin endpointBox(endpoint)
    .endpoint-box(onclick="window.location.pathname='/#{endpoint.dbpath}';")
        h3.endpoint-title: +endpointText(endpoint)
        p= endpoint.description

mixin endpointList(resources, current)
    .endpoint-list
        each endpoints, resource in resources
            h3= resource
            ul
                each endpoint in endpoints
                    li
                        if endpoint === current
                            a.endpoint-title.disabled: +endpointText(endpoint)
                        else
                            a.endpoint-title(href="/#{endpoint.dbpath}"): +endpointText(endpoint)
