h4 #[a(href='../index.html') C# API overview]
li
    a(href=`#${interactive_csharp.api[17].name}__declaration`) Declaration
    
if interactive_csharp.api[17].constructor_class
    li
        a(href=`#${interactive_csharp.api[17].name}__constructor`) Constructor
if interactive_csharp.api[17].destructor_class    
    li
        a(href=`#${interactive_csharp.api[17].name}_destructor`) Destructor
if interactive_csharp.api[17].methods
    li
        a(href=`#${interactive_csharp.api[17].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive_csharp.api[17].methods
            if key.description
                li: a(href=`#${interactive_csharp.api[17].name}__${key.name}`)= key.name
if interactive_csharp.api[17].properties    
    li
        a(href=`#${interactive_csharp.api[17].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive_csharp.api[17].properties
            if key.description
                li: a(href=`#${interactive_csharp.api[17].name}__${key.name}`)= key.name
if interactive_csharp.api[17].enums   
    li
        a(href=`#${interactive_csharp.api[17].name}__fields`) Fields