h4 #[a(href='../index.html') C# API overview]
li
    a(href=`#${interactive_csharp.api[10].name}__declaration`) Declaration
    
if interactive_csharp.api[10].constructor_class
    li
        a(href=`#${interactive_csharp.api[10].name}__constructor`) Constructor
if interactive_csharp.api[10].destructor_class    
    li
        a(href=`#${interactive_csharp.api[10].name}_destructor`) Destructor
if interactive_csharp.api[10].methods    
    li
        a(href=`#${interactive_csharp.api[10].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive_csharp.api[10].methods
            if key.description
                li: a(href=`#${interactive_csharp.api[10].name}__${key.name}`)= key.name
if interactive_csharp.api[10].properties    
    li
        a(href=`#${interactive_csharp.api[10].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive_csharp.api[10].properties
            if key.description
                li: a(href=`#${interactive_csharp.api[10].name}__${key.name}`)= key.name
if interactive_csharp.api[10].enums   
    li
        a(href=`#${interactive_csharp.api[10].name}__fields`) Fields