mixin codehighlight(language, path)
    pre
        code(class=language)
            if block
                block
            else
                | Error: No content
mixin codehighlightScripts
    script(
        src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"
    )
mixin codehighlightStyles
    link(
        rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css"
    )
    link(
        rel="stylesheet"
        href=`${hostLocation}/styles/highlightjs.css`
    )

mixin bsTabs(tabs, prefix)
    - prefix = prefix ? prefix + '-' : ''
    - isFirst = true
    ul.nav.nav-tabs(role="tablist")
        for tabName, tabId in tabs
            li(class=isFirst && 'active', role="presentation")
                a(data-toggle="tab" href=`#${prefix}${tabId}`)= tabName
            - isFirst = false
    .tab-content
        block
    script.
        function hashUpdate() {
            var tab = $('.nav-tabs a[href="#' + location.hash.substr(1) + '"]');
            tab.tab('show');
            var rawEl = tab.get(0);
            rawEl.scrollIntoView();
        }
        addEventListener('hashchange', hashUpdate);
        $(document).ready(function() {
            if (location.hash !== '') {
                hashUpdate();
            }

            // Change hash for page-reload
            $('.nav-tabs > li > a').on('shown.bs.tab', function (e) {
                history.pushState( null, null, $(this).attr('href') );
            });
        });
mixin bsTabItem(tabId, prefix, active)
    - prefix = prefix ? prefix + '-' : ''
    .tab-pane.fade(class=active && 'active in', id=`${prefix}${tabId}` role="tabpanel")
        block

