extends ./layouts/main.pug
block content
    h1.
        Welcome to beam developer central
    h4.
        This page is an overview of directions you can take when developing with beam.
    .row.categories
        .col-md-3
            h3.
                Section title
            hr
            ul
                li
                    test
                li
                    test
                li
                    test
                li
                    test
        mixin guideButton(title, name, image)
            .col-md-3.category-wrapper
                .category-card.well.withripple(
                    onclick=`location.href='${hostLocation}/${name}.html';`
                    data-ripple-color="#FFFFFF"
                )
                    img(
                        src=`${hostLocation}${image}`
                        class="img-responsive"
                    )
                    h4=title
                    p
                        block
        +guideButton(
            'Chat Bot',
            'guides/chatbot',
            '/images/beam-dev-chat-icon.svg'
        ).
            Hook into the Beam chat API to moderate, run fun chat based games, and more!',
            'guides/chatbot
        +guideButton(
            'Interactive Integration',
            'guides/interactive',
            '/images/beam-dev-interactive-icon.svg'
        ).
            Provide viewers with joysticks, buttons and screen controls to interface with the games streamers are playing.
        +guideButton(
            'Beam App',
            'rest',
            '/images/beam-dev-app-icon.svg'
        ).
            Crerate a third party Beam application using our RESTful API.

