h4 #[a(href='../index.html') JavaScript API overview]
li
    a(href=`#${interactive_javascript.api[8].name}__declaration`) Declaration
    
if interactive_javascript.api[8].constructor_class
    li
        a(href=`#${interactive_javascript.api[8].name}__constructor`) Constructor
if interactive_javascript.api[8].destructor_class    
    li
        a(href=`#${interactive_javascript.api[8].name}_destructor`) Destructor
if interactive_javascript.api[8].methods    
    li
        a(href=`#${interactive_javascript.api[8].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive_javascript.api[8].methods
            if key.description
                li: a(href=`#${interactive_javascript.api[8].name}__${key.name}`)= key.name
if interactive_javascript.api[8].properties    
    li
        a(href=`#${interactive_javascript.api[8].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive_javascript.api[8].properties
            if key.description
                li: a(href=`#${interactive_javascript.api[8].name}__${key.name}`)= key.name
if interactive_javascript.api[8].enums   
    li
        a(href=`#${interactive_javascript.api[8].name}__fields`) Properties