extends ../../../reference_layout.pug
block title
    | Interactive API Reference | Beam Developers

block navbar
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            h1 Interactive Reference Documentation
block menu
    .hidden-print.rest-sidebar(role='complementary')
        nav
            ul.nav.nav-stacked
                include ../menus/Menu_BeamInteractivityState.pug
block reference
    h1(id=`${interactive_javascript.api[8].name}__${interactive_javascript.api[8].type}`)= interactive_javascript.api[8].name+" "+interactive_javascript.api[8].type
    p= interactive_javascript.api[8].description 

    h2(id=`${interactive_javascript.api[8].name}__declaration`) Syntax
    
        if interactive_javascript.api[8].syntax
        .panel.panel-default.panel-rest
                    .panel-body
                        h3.panel-title= interactive_javascript.api[8].syntax.code
                        
    if interactive_javascript.api[8].constructor_class
         h2(id=`${interactive_javascript.api[8].name}__constructor`) Constructor
        
         for key in interactive_javascript.api[8].constructor_class
             if key.description
                 h3(id=`${interactive_javascript.api[8].name}__${key.name}`)= key.name
                
                 table.table
                     tr
                         td= key.description
                        
                 .panel.panel-default.panel-rest
                     .panel-body
                         h3.panel-title= key.code

    if interactive_javascript.api[8].destructor_class
        h2(id=`${interactive_javascript.api[8].name}__destructor`) Destructor
        
        for key in interactive_javascript.api[8].destructor_class
            if key.name
                h3(id=`${interactive_javascript.api[8].name}__${key.name}`)= key.name
                
                table.table
                    tr
                        td= key.description
                        
                .panel.panel-default.panel-rest
                    .panel-body
                        h3.panel-title= key.code
                          
    if interactive_javascript.api[8].methods
        h2(id=`${interactive_javascript.api[8].name}__methods`) Methods
    
        for key in interactive_javascript.api[8].methods
            if key.description
                h3(id=`${interactive_javascript.api[8].name}__${key.name}`)= key.name
            
                table.table
                    tr
                        td= key.description
                    
                .panel.panel-default.panel-rest
                    .panel-body
                        h3.panel-title= key.code
                
                if key.params
                    h4 Parameters
                    table.table
                        for parameter in key.params
                            tr
                                td.col-xs-4: code= parameter.param_name
                                td.col-xs-8= parameter.param_type
                            tr
                                td(colspan='2')= parameter.param_description

                if key.return_type
                    h4 Returns
                    p: code= key.return_type
                    p= key.return_description

    if interactive_javascript.api[8].properties
            h2(id=`${interactive_javascript.api[8].name}__properties`) Properties
        
            for key in interactive_javascript.api[8].properties
                if key.description
                    h3(id=`${interactive_javascript.api[8].name}__${key.name}`)= key.name
                
                    table.table
                        tr
                            td= key.description
                        
                    .panel.panel-default.panel-rest
                        .panel-body
                            h3.panel-title= key.code
                    if key.property_type
                        h4 Property Value
                        p: code= key.property_type
                        p= key.property_description

    if interactive_javascript.api[8].enums
            h2(id=`${interactive_javascript.api[8].name}__enumproperties`) Properties
    
            table.table
                for key in interactive_javascript.api[8].enums
                    if key.description
                        tr  
                            td= key.name
                            td= key.description