mixin cDocSection (section)
    h2(id=section.name)= section.name
    .hidden-print.rest-sidebar(role='complementary')
        nav
            ul.nav.nav-stacked
                li
                    a(href=`#${section.name}__declaration`) Declaration

                if section.constructor_class
                    li
                        a(href=`#${section.name}__constructor`) Constructor
                if section.destructor_class
                    li
                        a(href=`#${section.name}_destructor`) Destructor
                if section.methods
                    li
                        a(href=`#${section.name}__methods`) Methods
                        ul.nav.nav-stacked
                        for key in section.methods
                            if key.description
                                li: a(href=`#${section.name}__${key.name}`)= key.name
                if section.properties
                    li
                        a(href=`#${section.name}__properties`) Properties
                        ul.nav.nav-stacked
                        for key in section.properties
                            if key.description
                                li: a(href=`#${section.name}__${key.name}`)= key.name
                if section.enums
                    li
                        a(href=`#${section.name}__fields`) Fields

    h1(id=`${section.name}__${section.type}`)= `${section.name} ${section.type}`
    p= section.description

    h2(id=`${section.name}__declaration`) Declaration

        if section.syntax
            .panel.panel-default.panel-rest
                .panel-body
                    h3.panel-title= section.syntax.code

    if section.constructor_class
        h2(id=`${section.name}__constructor`) Constructor

        for key in section.constructor_class
            if key.description
                h3(id=`${section.name}__${key.name}`)= key.name

                table.table
                    tr
                        td= key.description

                .panel.panel-default.panel-rest
                    .panel-body
                        +highlightStr('c++', eval(JSON.stringify(key.code, null, 3)))

    if section.destructor_class
        h2(id=`${section.name}__destructor`) Destructor

        for key in section.destructor_class
            if key.name
                h3(id=`${section.name}__${key.name}`)= key.name

                table.table
                    tr
                        td= key.description

                .panel.panel-default.panel-rest
                    .panel-body
                        +highlightStr('c++', eval(JSON.stringify(key.code, null, 3)))

    if section.methods
        h2(id=`${section.name}__methods`) Methods

        for key in section.methods
            if key.description
                h3(id=`${section.name}__${key.name}`)= key.name

                table.table
                    tr
                        td= key.description

                .panel.panel-default.panel-rest
                    .panel-body
                        +highlightStr('c++', eval(JSON.stringify(key.code, null, 3)))

                if key.params
                    h4 Parameters
                    table.table
                        for parameter in key.params
                            tr
                                td.col-xs-4: code= parameter.param_name
                                td.col-xs-8= parameter.param_type
                            tr
                                td(colspan='2')= parameter.param_description

                if key.return_type
                    h4 Returns
                    p: code= key.return_type
                    p= key.return_description

    if section.properties
        h2(id=`${section.name}__properties`) Properties

        for key in section.properties
            if key.description
                h3(id=`${section.name}__${key.name}`)= key.name

                table.table
                    tr
                        td= key.description

                .panel.panel-default.panel-rest
                    .panel-body
                        +highlightStr('c++', eval(JSON.stringify(key.code, null, 3)))
                if key.property_type
                    h4 Property Value
                    p: code= key.property_type
                    p= key.property_description

    if section.enums
        h2(id=`${section.name}__fields`) Fields

        table.table
            for key in section.enums
                if key.description
                    tr
                        td= key.name
                        td= key.description

mixin cnavbar(name)
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            h1 #{name} Interactive Reference Documentation

mixin menu(apiInfo, name)
    .hidden-print.rest-sidebar(role='complementary')
    nav
        ul.nav.nav-stacked
            li
                a(href='#classes') Classes
            li
                a(href='#enums') Enums
            for apiData in apiInfo
                li
                    a(href=`#${apiData.name}`)= apiData.name

mixin reference(apiInfo, name)
    h1 #{name} API Overview

    h2 Classes

    table.table
        for apiData in apiInfo
            if apiData.type !== 'Enum'
                tr
                    td
                        a(href=`#${apiData.name}`)= apiData.name
                    td= apiData.description

    h2 Enums

    table.table
        for apiData in apiInfo
            if apiData.type === 'Enum'
                tr
                    td
                        a(href=`#${apiData.name}`)= apiData.name
                    td= apiData.description

    h1#classes Classes

    for apiData in apiInfo
        if apiData.type !== 'Enum'
            +cDocSection(apiData)

    h1#enums Enums

    for apiData in apiInfo
        if apiData.type === 'Enum'
            +cDocSection(apiData)

    include ../../snippets/help.pug
