extends ./layout.pug

block title
    | Beam Developers

block navbar
    .navbar-wrapper.dark(style='background-position: center center')
        .container
            nav.navbar.navbar-inverse: +navbar()

        .intro
            .container
                .col-lg-10.col-lg-offset-1
                    h1 hello.world();

                    .row: .col-md-6.col-xs-12
                        p Learn how to build awesome Interactive integrations, helpful chat bots, and anything else you can imagine on the Beam platform.

                    .intro-cta
                        a.btn.btn-default(href='/rest.html') View API Docs
                        a.btn.btn-white.js-smooth-anchor(href='#tutorials') Check out our Tutorials

block content
    #tutorials.slide
        .container
            h1.slide-title #[span.muted #1] Get Educated
            .slide-features
                .col-md-3.col-sm-6.col-xs-12: a(href='/tutorials/chatbot.html')
                    .slide-features-img
                        img(src='/img/icon/bubble-chat-smiley-1.svg' alt='Chat Bot')
                    p Build a Beam #[br] Chat Bot
                .col-md-3.col-sm-6.col-xs-12: a(href='/tutorials/interactive.html')
                    .slide-features-img
                        img(src='/img/icon/game-controller-2.svg' alt='Interactive Integration')
                    p Create an Interactive #[br] Integration
                .col-md-3.col-sm-6.col-xs-12: a(href='/tutorials/rest.html')
                    .slide-features-img
                        img(src='/img/icon/computer-chip.svg' alt='RestAPI Docs')
                    p Talk to our #[br] RESTful API
                .col-md-3.col-sm-6.col-xs-12: a(href='/rest.html')
                    .slide-features-img
                        img(src='/img/icon/book-open-2.svg' alt='RestAPI Docs')
                    p View API #[br] Reference

    .slide.slide-grab.gray.bar-transition-top.bar-transition-bottom
        .container
            h1.slide-title #[span.muted #2] Start Building

            .col-md-4.slide-grab-left
                p.
                    Looking for the fastest way to get started building the next big thing?
                    Grab one of our client libraries and dig in!
                p.
                    If you find bugs, things that need improvement,
                    or want to submit your own client library here,
                    just open an issue on our Github repo.
                div(style='flex:1')
                .slide-grab-stanbot
                    img(src='/img/stanbot.png' alt='Stanbot says hi!')

            .col-md-8
                .row
                    for options in libraries
                        .col-md-6
                            .slide-library(onclick=`window.open('${options.url}', '_blank')`)
                                .slide-library-icon
                                    img(
                                        src=`/img/icon/lang-${options.language}.svg`
                                        alt=options.language
                                    )
                                .slide-library-name
                                    h3
                                        = options.name
                                        small
                                            span.slide-library-updated
                                                | Updated
                                                = ` ${options.updatedAt}`
                                            if options.official
                                                span.slide-library-official &nbsp;•&nbsp;Official

                                .slide-library-meta
                                    img(
                                        src='/img/icon/rank-army-star-1.svg'
                                        alt='Star'
                                    )
                                    span= options.stars
                                    a(href=options.url alt=options.name target='_blank')
                                        img(src='/img/icon/download-circle.svg' alt='Download')

    .slide
        .container
            h1.slide-title #[span.muted #3] Get Involved

            p.slide-focal We're always around in our Gitter chat and on social media if you have questions or hit snags. Or simply if you're really proud of what you build. Connect with us, and other Beam developers!

            .slide-features
                .col-md-3.col-sm-6.col-xs-12: a(href='https://gitter.im/WatchBeam/developers' target='_blank')
                    .slide-features-img
                        img(src='/img/icon/bubble-chat-typing-3.svg' alt='Chat with us on Gitter' target='_blank')
                    p Chat with us #[br] on Gitter
                .col-md-3.col-sm-6.col-xs-12: a(href='https://forums.beam.pro/category/10/developer-discussion' target='_blank')
                    .slide-features-img
                        img(src='/img/icon/chat-double-bubble-1.svg' alt='Go to our Dev Forums' target='_blank')
                    p Checkout our #[br] Developer Forums
                .col-md-3.col-sm-6.col-xs-12: a(href='https://twitter.com/Beam' target='_blank')
                    .slide-features-img
                        img(src='/img/icon/logo-twitter-bird.svg' alt='Find us on Twitter' target='_blank')
                    p Find us on #[br] Twitter
                .col-md-3.col-sm-6.col-xs-12: a(href='https://github.com/WatchBeam' target='_blank')
                    .slide-features-img
                        img(src='/img/icon/logo-github.svg' alt='View our Projects on Github')
                    p View our Projects #[br] on Github
