mixin highlightFile(language, file)
    +highlightStr(language, readFile(file).toString())

mixin highlightStr(language, str)
    pre
        code(class=language)
            != highlight(language, str)

mixin bsTabs(name, tabs)
    -
        bsTabs[name] = tabs;
        Object.defineProperty(tabs, '$active', {
            value: Object.keys(tabs).shift(),
        });

    ul.nav.nav-tabs(role='tablist')
        for tabName, tabId in tabs
            li(
                class=(tabs.$active === tabId ? 'active' : null)
                role='presentation'
            )
                a(data-toggle='tab' href=`#${name}_${tabId}`)= tabName
    if block
        .tab-content
            block
    //- script(type='text/javascript').
    //-     function hashUpdate() {
    //-         var tab = $('.nav-tabs a[href="#' + location.hash.substr(1) + '"]');
    //-         tab.tab('show');
    //-         var rawEl = tab.get(0);
    //-         rawEl.scrollIntoView();
    //-     }
    //-     addEventListener('hashchange', hashUpdate);
    //-     $(document).ready(function() {
    //-         if (location.hash !== '') {
    //-             hashUpdate();
    //-         }

    //-         // Change hash for page-reload
    //-         $('.nav-tabs > li > a').on('shown.bs.tab', function (e) {
    //-             history.pushState( null, null, $(this).attr('href') );
    //-         });
    //-     });

mixin bsTabItem(parent, name)
    -
        if (!bsTabs[parent]) {
            throw new Error(`Attempted to define child tab of unknown bsTab ${parent}`)
        }
        if (!bsTabs[parent][name]) {
            throw new Error(`${name} not found in bsTabs ${parent}`);
        }

    .tab-pane.fade(
        class=(bsTabs[parent].$active === name ? 'active' : null) && 'active in'
        data-name=bsTabs[parent][name]
        id=`${parent}_${name}`
        role='tabpanel'
    )
        block

mixin oauthLinks(scopes)
    script.
        $(document).ready(function () {
            oauthUtils.registerOAuthClickHandler('#{scopes}');
        });
