h4 #[a(href='../index.html') C++ API overview]
li
    a(href=`#${interactive.api[2].name}__declaration`) Declaration
    
if interactive.api[2].constructor_class
    li
        a(href=`#${interactive.api[2].name}__constructor`) Constructor
if interactive.api[2].destructor_class    
    li
        a(href=`#${interactive.api[2].name}_destructor`) Destructor
if interactive.api[2].methods
    li
        a(href=`#${interactive.api[2].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive.api[2].methods
            if key.description
                li: a(href=`#${interactive.api[2].name}__${key.name}`)= key.name
if interactive.api[2].properties    
    li
        a(href=`#${interactive.api[2].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive.api[2].properties
            if key.description
                li: a(href=`#${interactive.api[2].name}__${key.name}`)= key.name
if interactive.api[2].enums   
    li
        a(href=`#${interactive.api[2].name}__fields`) Fields