h4 #[a(href='../index.html') C++ API overview]
li
    a(href=`#${interactive.api[9].name}__declaration`) Declaration
    
if interactive.api[9].constructor_class
    li
        a(href=`#${interactive.api[9].name}__constructor`) Constructor
if interactive.api[9].destructor_class    
    li
        a(href=`#${interactive.api[9].name}_destructor`) Destructor
if interactive.api[9].methods    
    li
        a(href=`#${interactive.api[9].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive.api[9].methods
            if key.description
                li: a(href=`#${interactive.api[9].name}__${key.name}`)= key.name
if interactive.api[9].properties    
    li
        a(href=`#${interactive.api[9].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive.api[9].properties
            if key.description
                li: a(href=`#${interactive.api[9].name}__${key.name}`)= key.name
if interactive.api[9].enums   
    li
        a(href=`#${interactive.api[9].name}__fields`) Fields