h4 #[a(href='../index.html') C++ API overview]
li
    a(href=`#${interactive.api[11].name}__declaration`) Declaration
    
if interactive.api[11].constructor_class
    li
        a(href=`#${interactive.api[11].name}__constructor`) Constructor
if interactive.api[11].destructor_class    
    li
        a(href=`#${interactive.api[11].name}_destructor`) Destructor
if interactive.api[11].methods    
    li
        a(href=`#${interactive.api[11].name}__methods`) Methods
        ul.nav.nav-stacked
        for key in interactive.api[11].methods
            if key.description
                li: a(href=`#${interactive.api[11].name}__${key.name}`)= key.name
if interactive.api[11].properties    
    li
        a(href=`#${interactive.api[11].name}__properties`) Properties
        ul.nav.nav-stacked
        for key in interactive.api[11].properties
            if key.description
                li: a(href=`#${interactive.api[11].name}__${key.name}`)= key.name
if interactive.api[11].enums   
    li
        a(href=`#${interactive.api[11].name}__fields`) Fields