<!DOCTYPE html>
<html>
<head>
  <title>Beam Developers | 404</title>
  <%- css("index") %>
  <%- css("highlightjs/styles/obsidian.css") %>
  <%- js("highlightjs/highlight.pack.js") %>
  <%- js("jquery/dist/jquery.min.js") %>
  <%- js("bootstrap-sass/assets/javascripts/bootstrap/affix.js") %>
  <%- js("bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js") %>
</head>

<style>
  .error-view {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    text-align: center;
    padding: 100px 0 200px;
  }
  h2 {
    font-size: 40px;
    font-weight: 200;
    color: #fff;
  }
  small {
    display: block;
    font-size: 20px;
    color: #aaa;
  }
  .btn-primary {
    color: #ddecff;
    border-radius: 3em;
    background: #214586;
    text-shadow: 0 0 1px rgba(13,27,52,.95);
    border: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    outline: 0!important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    margin-top: 50px;
    z-index: 0;
  }
 </style>

<body>
<div class="error-view">
  <h2>Darn!</h2>
  <small>This page does not yet exist.</small>
  <div class="btn btn-primary btn-lg" onclick="window.location = '/'">Back To Home</div>
</div>
</body>
</html>
