<!DOCTYPE html>
<html>
  <head>
    <title>Beam Developers</title>
    <%- css("index") %>
    <%- css("highlightjs/styles/obsidian.css") %>
    <%- js("highlightjs/highlight.pack.js") %>
    <%- js("jquery/dist/jquery.min.js") %>
    <%- js("bootstrap-sass/assets/javascripts/bootstrap/affix.js") %>
    <%- js("bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js") %>
  </head>

  <body>
    <%- page %>
    <script type="text/javascript">
      // Invoke the scrollspy directive
      $("body").scrollspy({ target: ".api-method-selector" });

      $('.hover-select').on('mouseenter', function () {
        this.select();
      });

      // Syntax highlight all of the code-blocks.
      var elements = $("pre code");
      for (var i = 0, ii = elements.length; i < ii; i ++) {
        var element = elements[i];
        hljs.highlightBlock(element);
      }

      $('.confirm-click').each(function () {
        var text = this.dataset.confirm;
        this.addEventListener('click', function (e) {
          if (!confirm(text)) {
            e.preventDefault();
            return false;
          }
        }, false);
      });
    </script>
  </body>
</html>
