include ./type.pug
mixin statusCode(code)
    a(href=`http://httpstatus.es/${code}` target='_blank')
        = code
        = ` ${restUtil.getStatusMessage(code)}`

mixin typeDetails(typeName)
    - var type = rest.types[typeName]
    if type.description
        p.top-resource-description !{marked(type.description)}
    if type.example
        h4 Example:
        +typeExample(type)

    if type.properties
        ul.rest-properties
            for property, propertyName in type.properties
                li
                    h5.title
                        +simpleTypeHeading(propertyName, property)
                    +simpleType(propertyName, property)

mixin describeAnnotations(type, annotations)
    if annotations.deprecated
        .alert.alert-danger This !{type} is deprecated. !{annotations.deprecated.structuredValue}

    if annotations.announce
        .alert.alert-warning !{annotations.announce.structuredValue}

mixin method(method, resource)
    .modal.fade(tabindex='0' id=`${resource.uniqueId}_${method.method}`)
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-hidden='true')!= '&times'
                    h4.modal-title
                        span.text-primary(style='font-weight:300')
                            = method.method.toUpperCase()
                        | &nbsp;
                        span.parent= resource.parentUrl
                        = resource.relativeUri

                .modal-body
                    if method.annotations
                        +describeAnnotations('method', method.annotations)
                    if method.description
                        != marked(method.description)
                    if method.securedBy
                        for securedBy in method.securedBy
                            - securityScheme = restUtil.securitySchemeWithName(securedBy)
                            .alert.alert-warning
                                span.glyphicon.glyphicon-lock(title='Authentication required')
                                = ' '
                                |  Secured by #{securityScheme.displayName || securityScheme.name}
                                if restUtil.isSecurityOAuth(securedBy)
                                    if restUtil.hasOAuthScopes(securedBy)
                                        |  Scopes:
                                        for scope in restUtil.getOAuthScopes(securedBy)
                                            pre.oauth-scope= scope
                                if securityScheme.description
                                    | !{marked(securityScheme.description)}
                    if method.is
                        - rateLimitInfo = restUtil.getTraitInfo(method, 'rateLimited')
                        if rateLimitInfo
                            .alert.alert-warning.
                                This endpoint is rate-limited with the #[b= rateLimitInfo.bucket] bucket.

                    ul.nav.nav-tabs
                        -
                            var tabsItems = {};
                            if (method.allUriParameters.length || method.queryParameters || method.headers || method.body) {
                                tabsItems.request = 'Request';
                            }

                            if (method.securedBy) {
                                tabsItems.security = 'Security';
                            }

                            if (method.responses) {
                                tabsItems.response = 'Response';
                            }

                        +bsTabs(`${resource.uniqueId}_${method.method}_tabs`, tabsItems)

                    .tab-content
                        if method.allUriParameters.length || method.queryParameters || method.headers || method.body
                            +bsTabItem(`${resource.uniqueId}_${method.method}_tabs`, 'request')
                                if resource.allUriParameters.length
                                    h3 URI Parameters
                                    ul.rest-properties
                                        for item, key in resource.allUriParameters
                                            li
                                                h5.title
                                                    +simpleTypeHeading(key, item)
                                                +simpleType(key, item, true)
                                if method.headers
                                    h3 Headers
                                    ul.rest-properties
                                        for item, key in method.headers
                                            li
                                                h5.title
                                                    +simpleTypeHeading(key, item)
                                                +simpleType(key, item, true)
                                if method.queryParameters
                                    h3 Query Parameters
                                    ul.rest-properties
                                        for item, key in method.queryParameters
                                            li
                                                h5.title
                                                    +simpleTypeHeading(key, item)
                                                +simpleType(key, item, true)
                                if method.body
                                    h3 Body
                                    for b, key in method.body
                                        ul
                                            li #[strong Media Type]: #{key}
                                            if b.type
                                                li
                                                    strong Data Type
                                                    | :
                                                    = ' '
                                                    +typeNameString(b)
                                                    +simpleType(key, b)
                                        if b.schema
                                            p
                                                strong Schema
                                                | :
                                            pre
                                                code b.schema
                                        if b.example
                                            p
                                                strong Example
                                                | :
                                            pre
                                                code b.example
                        if method.responses
                            +bsTabItem(`${resource.uniqueId}_${method.method}_tabs`, 'response')
                                for response, key in method.responses
                                    h2: +statusCode(key)
                                    if (response.description)
                                        != marked(response.description)
                                    if response.headers
                                        h3 Headers
                                        ul.rest-properties
                                            if Array.isArray(response.headers)
                                                for item, key in response.headers
                                                    li
                                                        h5.title
                                                            +simpleTypeHeading(key, item)
                                                        +simpleType(key, item, true)
                                    if response.body
                                        h3 Body
                                        for b, key in response.body
                                            ul
                                                li
                                                    strong Media Type
                                                    | :
                                                    = ' '
                                                    = key
                                                if b.type
                                                    li
                                                        strong Data Type
                                                        | :
                                                        = ' '
                                                        +typeNameString(b)
                                                        +simpleType(key, b)
                                            if b.schema
                                                li
                                                    strong Schema
                                                    | :
                                                pre
                                                    code= b.schema
                                            if b.example
                                                li
                                                    strong Example
                                                    | :
                                                pre
                                                    code= b.example
                        if method.securedBy
                            +bsTabItem(`${resource.uniqueId}_${method.method}_tabs`, 'security')
                                for securedBy in method.securedBy
                                    - securityScheme = restUtil.securitySchemeWithName(securedBy)
                                    h2
                                        | #{securityScheme.displayName || securityScheme.name} Authentication
                                    if securityScheme.annotations
                                        +describeAnnotations('authentication method', securityScheme.annotations)
                                    if securityScheme.description
                                        | !{marked(securityScheme.description)}
                                    if restUtil.isSecurityOAuth(securedBy)
                                        if restUtil.hasOAuthScopes(securedBy)
                                            h3 Scopes
                                            p Requires the following OAuth Scopes:
                                            for scope in restUtil.getOAuthScopes(securedBy)
                                                pre.oauth-scope= scope
                                    if securityScheme.describedBy
                                        if securityScheme.describedBy.headers
                                            h3 Headers
                                            ul.rest-properties
                                                for item, key in securityScheme.describedBy.headers
                                                    li
                                                        h5.title
                                                            +simpleTypeHeading(key, item)
                                                        +simpleType(key, item, true)
                                        for response, key in (securityScheme.describedBy.responses || [])
                                            h3: +statusCode(response.code)
                                            | !{marked(response.description)}

                                            if response.headers
                                                h3 Headers
                                                ul.rest-properties
                                                    for item, key in response.headers
                                                        li
                                                            h5.title
                                                                +simpleTypeHeading(key, item)
                                                            +simpleType(key, item, true)

mixin resourceModals(resource)
    if resource.methods
        for method in resource.methods
            +method(method, resource)
    if resource.resources
        for subResource in resource.resources
            +resourceModals(subResource)

mixin resourceRows(resource)
    if resource.methods
        for method in resource.methods
            - deprecated = method.annotations && method.annotations.deprecated
            tr.rest-endpoint(onclick=`window.location.href = '#${resource.uniqueId}_${method.method}'` class={ 'bg-danger':deprecated})
                td.rest-endpoint-method= method.method
                td.rest-endpoint-path
                    = resource.parentUrl + resource.relativeUri
                    if method.securedBy && method.securedBy.length > 0
                        span.icon.icon-lock-3(title='Authentication required')

                    if method.is
                        - rateLimitInfo = restUtil.getTraitInfo(method, 'rateLimited')
                        if rateLimitInfo
                            span.icon.icon-time-1(title='Rate Limited')
                    if deprecated
                        span.icon.icon-minus-5(title='Deprecated')

                td.rest-endpoint-description.hidden-xs
                    if method.description
                        = method.description.slice(0, method.description.indexOf('.'))

    if resource.resources
        for subResource in resource.resources
            +resourceRows(subResource)
