include ./type.pug
mixin statusCode(code)
    a(href=`http://httpstatus.es/${code}` target='_blank')
        = code
        = ` ${restUtil.getStatusMessage(code)}`

mixin typeDetails(typeName)
    - var type = rest.types[typeName]
    if type.description
        p.top-resource-description !{marked(type.description)}
    if type.example
        h4 Example:
        pre= type.example

    if type.properties
        ul.rest-properties
            for property, name in type.properties
                li
                    -
                        var ptype = property.type[0];
                    h5.title
                        | #{property.name}
                        //- The &nbsp; is used below rather than css-based
                        //- spacing so that double clicking selects the
                        //- property name without the type.
                        small &nbsp;
                            +typeNameString(property)

                    if typeof property.description === 'string'
                        p !{marked(property.description)}

mixin method(method, resource)
    .modal.fade(tabindex='0' id=`${resource.uniqueId}_${method.method}`)
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-hidden='true')!= '&times'
                    h4.modal-title
                        span.text-primary(style='font-weight:300')
                            = method.method.toUpperCase()
                        | &nbsp;
                        span.parent= resource.parentUrl
                        = resource.relativeUri

                .modal-body
                    if method.description
                        != marked(method.description)
                    if method.securedBy
                        for securedBy in method.securedBy
                            - securityScheme = restUtil.securitySchemeWithName(securedBy)
                            .alert.alert-warning
                                span.glyphicon.glyphicon-lock(title='Authentication required')
                                = ' '
                                |  Secured by #{securityScheme.displayName || securityScheme.name}
                                if restUtil.isSecurityOAuth(securedBy)
                                    |  Scopes:
                                    for scope in restUtil.getOAuthScopes(securedBy)
                                        pre.oauth-scope= scope
                                if securityScheme.description
                                    | !{marked(securityScheme.description)}
                    ul.nav.nav-tabs
                        if method.allUriParameters.length || method.queryParameters || method.headers || method.body
                            li.active
                                a(
                                    href=`#${resource.uniqueId}_${method.method}_request`
                                    data-toggle='tab'
                                ) Request
                        if method.responses
                            li(class=!method.allUriParameters.length && !method.queryParameters && !method.headers && !method.body ? 'active' : '')
                                a(
                                    href=`#${resource.uniqueId}_${method.method}_response`
                                    data-toggle='tab'
                                ) Response

                        if method.securedBy
                            li
                                a(
                                    href=`#${resource.uniqueId}_${method.method}_securedby`
                                    data-toggle='tab'
                                ) Security
                    .tab-content
                        if method.allUriParameters.length || method.queryParameters || method.headers || method.body
                            .tab-pane.active(id=`${resource.uniqueId}_${method.method}_request`)
                                if resource.allUriParameters.length
                                    h3 URI Parameters
                                    ul
                                        for item, key in resource.allUriParameters
                                            +simpleType(key, item)
                                if method.headers
                                    h3 Headers
                                    ul
                                        for item, key in method.headers
                                            +simpleType(key, item)
                                if method.queryParameters
                                    h3 Query Parameters
                                    ul
                                        for item, key in method.queryParameters
                                            +simpleType(key, item)
                                if method.body
                                    h3 Body
                                    for b, key in method.body
                                        ul
                                            li #[strong Media Type]: #{key}
                                            if b.type
                                                li #[strong Data Type]: #[+typeNameString(b)]

                                        if b.schema
                                            p
                                                strong Schema
                                                | :
                                            pre
                                                code b.schema
                                        if b.example
                                            p
                                                strong Example
                                                | :
                                            pre
                                                code b.example
                        if method.responses
                            .tab-pane(
                                id=`${resource.uniqueId}_${method.method}_response`
                                class=!method.allUriParameters.length && !method.queryParameters && !method.headers && !method.body ? 'active' : '')
                                for response, key in method.responses
                                    h2: +statusCode(key)
                                    if (response.description)
                                        != marked(response.description)
                                    if response.headers
                                        h3 Headers
                                        ul
                                            if Array.isArray(response.headers)
                                                for item, key in response.headers
                                                    +simpleType(key, item, true)
                                    if response.body
                                        h3 Body
                                        for b, key in response.body
                                            ul
                                                li #[strong Media Type]: #{key}
                                                if b.type
                                                    li
                                                        strong Data Type:
                                                        +typeNameString(b)
                                            if b.schema
                                                p
                                                    strong Schema
                                                    | :
                                                pre
                                                    code= b.schema
                                            if b.example
                                                p
                                                    strong Example
                                                    | :
                                                pre
                                                    code= b.example
                        if method.securedBy
                            .tab-pane(id=`${resource.uniqueId}_${method.method}_securedby`)
                                for securedBy in method.securedBy
                                    - securityScheme = restUtil.securitySchemeWithName(securedBy)
                                    h2
                                        | #{securityScheme.displayName || securityScheme.name} Authentication
                                    if securityScheme.describedBy
                                        if securityScheme.describedBy.headers
                                            h3 Headers
                                            ul
                                                for item, key in securityScheme.describedBy.headers
                                                    +simpleType(key, item)
                                        for response, key in securityScheme.describedBy.responses
                                            h2 HTTP status code
                                                = ' '
                                                +statusCode(response.code)
                                            | !{marked(response.description)}

                                            if response.headers
                                                h3 Headers
                                                ul
                                                    for item, key in response.headers
                                                        +simpleType(key, item, true)

mixin resourceModals(resource)
    if resource.methods
        for method in resource.methods
            +method(method, resource)
    if resource.resources
        for resource in resource.resources
            +resourceModals(resource)

mixin resourceRows(resource)
    if resource.methods
        for method in resource.methods
            tr.rest-endpoint(onclick=`window.location.href = '#${resource.uniqueId}_${method.method}'`)
                td.rest-endpoint-method= method.method
                td.rest-endpoint-path
                    = resource.parentUrl + resource.relativeUri
                    if method.securedBy && method.securedBy.length > 0
                        span.icon.icon-lock-3(title='Authentication required')
                td.rest-endpoint-description.hidden-xs
                    = method.description.slice(0, method.description.indexOf('.'))

    if resource.resources
        for resource in resource.resources
            +resourceRows(resource)
