include ./resource.pug
.row.rest-doc(data-spy="scroll" data-target="#sidebar")
    .col-md-9(role="main")
        .page-header
            p= rest.baseUri
            //- This doesn't seem to generate any code, I've commented it out for now:
            //- if rest.documentation
            //-     for chapter in rest.documentation
            //-         h3(id=chapter.uniqueId, href=`#${chapter.uniqueId}`)=chapter.title
            //-         | !{marked(chapter.content)}

        h2 Endpoints
        for resource in rest.resources
            .panel.panel-default.panel-rest
                a(name=resource.uniqueId, id=resource.uniqueId)
                a.panel-reference.icon.icon-link-1(href='#' + resource.uniqueId)
                .panel-heading
                    h3.panel-title=resource.displayName || resource.relativeUri
                .panel-body
                    if resource.description
                        .top-resource-description!= marked(resource.description)
                    .panel-group
                        +resourceModals(resource)
                        table(style="width:100%")
                            tbody
                                +resourceRows(resource)

        h2 Models &amp; Types
        for type, name in rest.types
            .panel.panel-default.panel-rest
                a(name=name, id=name)
                a.panel-reference.icon.icon-link-1(href='#' + name)
                .panel-heading
                    h3.panel-title= type.displayName
                .panel-body
                    +typeDetails(name)

    .col-md-3
        .hidden-print.rest-sidebar(role="complementary", style="padding:1px")
            h3 Endpoints
            nav
                ul.nav.nav-stacked
                    for r in rest.resources
                        li: a(href='#' + r.uniqueId)= r.relativeUri

