include ./resource.pug
.row
    .col-md-9(role='main')
        .page-header
            p Beam provides an HTTP API that can be used either with cookies or #[a(href='/reference/oauth/index.html') OAuth]. The base API URL is #[code https://beam.pro/api/v1], and all paths listed here are appended to that.

            .alert.alert-info If you want some more help about talking to our REST API, check out our #[a(href='/tutorials/rest.html') REST Tutorial].

        h3 Side note: REST APIs

        include ../tutorials/rest_intro.pug

        p If you want some more information about talking to our REST API, check out our #[a(href='/tutorials/rest.html') REST Tutorial].
        h2(id='rate_limiting') Rate Limiting
        p.
            In order to garantuee API stability there are a few rate limits in place,
            all endpoints that are rate limited have their #[code bucket] noted below.
        p Here is a list of all rate limiting buckets and their attributes.
        table.table.table-condensed
            caption Each endpoint can be called #[code Request Count] times per #[code Time Interval].
            thead
                tr
                    th Name
                    th Request Count
                    th Time Interval (in Seconds)
            tbody
                if beConfig.ratelimt && beConfig.ratelimt.buckets
                    - orderered = orderObject(beConfig.ratelimit.buckets)
                    for bucket, name in orderered
                        tr
                            td= name
                            td= bucket.max
                            td= bucket.interval/1000
        h2(id='csrf') CSRF Tokens
        p.
            Beam's REST API requires the use of CSRF Tokens when using cookie-base authentication.
        p.
            CSRF tokens are alphanumeric strings issued by the server and are included in the X-CSRF-Token header in responses. They are used to authorize requests and are bound a specific session cookie. They are invalidated after the session expires and may be invalidated at any point prior to the session expiration.

        p.
            CSRF tokens must be passed to the server in the X-CSRF-Token header when making requests which use cookie-based authentication. Failing to pass a valid CSRF token will cause the request to return in a #[code 461 CSRF Token Invalid] response. The server will include an X-CSRF-Token header in the response, which contains a CSRF token that the client can use to retry the request.
        a(href='#csrfExample' data-toggle='collapse') Example
        #csrfExample.collapse
            .well
                +highlightFile('text','./rest/csrf.txt')

        include ../snippets/help.pug
        h2 Endpoints
        if rest.resources
            for resource in rest.resources
                .panel.panel-default.panel-rest
                    a(name=resource.uniqueId id=resource.uniqueId)
                    a.panel-reference.icon.icon-link-1(href=`#${resource.uniqueId}`)
                    .panel-heading
                        h3.panel-title= resource.displayName || resource.relativeUri
                    .panel-body
                        if resource.description
                            .top-resource-description!= marked(resource.description)
                        .panel-group
                            +resourceModals(resource)
                            table(style='width:100%')
                                tbody
                                    +resourceRows(resource)

        h2 Models &amp; Types
        if rest.types
            for type, name in rest.types
                .panel.panel-default.panel-rest
                    a(name=name id=name)
                    a.panel-reference.icon.icon-link-1(href=`#${name}`)
                    .panel-heading
                        h3.panel-title= type.displayName
                            - var parentType = type.type && type.type[0];
                            if parentType && !restUtil.isBaseType(parentType)
                                = ' '
                                small extends
                                    = ' '
                                    a(href=`#${parentType}`)= parentType
                    .panel-body
                        +typeDetails(name)

    .col-md-3
        .hidden-print.rest-sidebar(role='complementary' style='padding:1px')
            h3 Endpoints
            nav
                ul.nav.nav-stacked
                    if rest.resources
                        for r in rest.resources
                            li: a(href=`#${r.uniqueId}`)= r.relativeUri
