include ../mixins.pug

mixin type(key, type, skipRequired)
    h4 Type:
        = ' '
        strong= type.type
        if type.repeat
            span.help(title='List') []

mixin typeNameString(type)
    -
        var name = Array.isArray(type.type) ? type.type[0] : type.type;
        var isArray = false;
        if (name.slice(-2) === '[]') {
            isArray = true;
            name = name.slice(0, -2);
        }

    if type.default
        | [
    if isArray
        | Array&lt;
    if type.enum
        if rest.types[name]
            a(href=`#${name}`)= name
        else
            = name
        | (#{type.enum.join(', ')})
        if type.default
            span.help(title='Default Value')= `=${type.default}`
    else
        if type.minimum
            span.help(title='Min value')= type.minimum
            | &leq;
        if rest.types[name]
            a(href=`#${name}`)= name
        else
            = name
        if type.default
            | =
            span.help(title='Default Value')= type.default
        if type.maximum
            | &leq;
            span.help(title='Max value')= type.maximum
        if type.default
            | ]
    if isArray
        | &gt;
    if !type.default && !type.required
        span.help(title='Optional') ?
    if name === 'string' && (type.minLength || type.maxLength || type.pattern)
        ul
            if type.minLength
                li
                    span minLength: #{type.minLength}
            if type.maxLength
                li
                    span maxLength: #{type.maxLength}
            if type.pattern
                li
                    span pattern: #[pre.inline= type.pattern]
    if name === 'array' && type.items
        ul
            if type.minItems
                li minItems: #{type.minItems}
            if type.maxItems
                li maxItems: #{type.maxItems}
            if type.uniqueItems
                li Items MUST be unique.
            li items
                - var parentType = type.items.type && type.items.type[0];
                if parentType && !restUtil.isBaseType(parentType)
                    = ' '
                    small extends
                        = ' '
                        a(href=`#${parentType}`)= parentType
                | :
            if type.items.properties
                li
                    ul
                        for property, propertyName in type.items.properties
                            +simpleType(propertyName, property)
mixin typeExample(type)
    = log(typeof type.example)
    if typeof type.example === 'string'
        pre= type.example
    if typeof type.example === 'object'
        +highlightStr("json", JSON.stringify(type.example,null, 3))

mixin describeSimpleType(key,type)
    strong= restUtil.prettifyPropertyName(type.displayName || key)
    = ': '
    +typeNameString(type)
    if type.description
        | !{marked(type.description)}
    if type.schema
        p
            strong Schema
            | :
        pre
            code= type.schema
    if type.example
        p
            strong Example
            | :
            +typeExample(type)

mixin simpleType(key, type, skipRequired)
    - rootType = restUtil.getRootType(type)
    // rendering of scalar and 0.8 types
    if rootType !== 'object'
        li
            +describeSimpleType(key,type)
    else
        li
            +describeSimpleType(key,type)
            if type.properties
                ul
                    for property, propertyName in type.properties
                        +describeSimpleType(propertyName, property)
