include ../mixins.pug

mixin type(key, type, skipRequired)
    h4 Type:
        = ' '
        strong= type.type
        if type.repeat
            span.help(title='List') []

mixin typeNameString(type, skipRequired)
    -
        var name = Array.isArray(type.type) ? type.type[0] : type.type;
        var isArray = true;
        var union = null;

        if (/ \| /.test(name)) {
            union = name.split(' | ');
            isArray = false;
        }

        if (name.slice(-2) === '[]' && !union) {
            name = name.slice(0, -2);
        } else if (type.items) {
            if (type.items.type.length > 0) {
                name = type.items.type[0];
            } else {
                name = 'object';
            }
        } else {
            isArray = false;
        }

    if type.default
        | [
    if isArray
        | Array&lt;
    if type.enum
        +printType(name)
        != ` (${type.enum.map(val => `<code>${val}</code>`).join()})`
        if type.default
            span.help(title='Default Value')= `=${type.default}`
    else if union
        for nested, i in union
            if i > 0
                = ' ∪ '
            +printType(nested)
    else
        if type.minimum
            span.help(title='Min value')= type.minimum
            | &leq;
        +printType(name)
        if type.default
            | =
            span.help(title='Default Value')= type.default
        if type.maximum
            | &leq;
            span.help(title='Max value')= type.maximum
        if type.default
            | ]
    if isArray
        | &gt;
    if !type.default && !type.required && !skipRequired
        span.help(title='Optional') ?
    if name === 'array' && type.items
        - var parentType = type.items.type && type.items.type[0];
        if parentType && !restUtil.isBaseType(parentType)
            = ' '
            small extends
                = ' '
                +printType(parentType)
        | :
mixin printType(type)
    -
        var typeLink = type;
        if (typeLink.slice(-2) === '[]') {
            typeLink = type.slice(0,-2);
        }
    if rest && rest.types[typeLink]
        a(href=`/index.html#${typeLink}`)= type
    else
        = type
mixin typeExample(type)
    if typeof type.example === 'string'
        pre= type.example
    if typeof type.example === 'object'
        +highlightStr("json", JSON.stringify(type.example,null, 3))

mixin simpleTypeHeading(key, type, skipRequired)
    span.text-monospace= restUtil.prettifyPropertyName(type.displayName || key)
    = ': '
    small &nbsp;
        +typeNameString(type, skipRequired)

mixin describeSimpleType(key, type)
    if type.description
        if typeof type.description === 'string'
            != marked(type.description)
    if type.schema
        p
            strong Schema
            | :
        pre
            code= type.schema
    if type.example
        p
            strong Example
            | :
            +typeExample(type)

mixin simpleType(key, type, skipRequired)
    +describeSimpleType(key,type)
    //- based on the type of the type we can choose how to render its additional properties
    - rootType = restUtil.getRootType(type)
    //- for strings check if we have min max and patterns
    if rootType === 'string' && (type.minLength || type.maxLength || type.pattern)
        //string
        ul
            if type.minLength
                li
                    span minLength: #{type.minLength}
            if type.maxLength
                li
                    span maxLength: #{type.maxLength}
            if type.pattern
                li
                    span pattern: #[pre.inline= type.pattern]
    if rootType === 'object' && type.properties
        ul.rest-nested-properties
            for property, propertyName in type.properties
                li
                    +simpleTypeHeading(propertyName, property, skipRequired)
                    +simpleType(propertyName, property)

    if rootType === 'array' && type.items
        ul
            if type.minItems
                li Minimum length: #{type.minItems}
            if type.maxItems
                li Maximum length: #{type.maxItems}
            if type.uniqueItems
                li Items MUST be unique.
            if type.items.properties
                li Item properties:
                    ul.rest-nested-properties
                        for property, propertyName in type.items.properties
                            li
                                +simpleTypeHeading(propertyName, property, skipRequired)
                                +simpleType(propertyName, property)
            else
                li Item type:
                    = ' '
                    +typeNameString(type.items)
